Here's your headline:
.clear
= @headline.text
.clear
What's your hunch? 
.clear
= form_for @guess, :as => :guess, :url => { :action => :create } do |f|
	= f.hidden_field(:headline_id, { :value => @headline.id })
	= f.collection_select(:author_id, Author.all, :id, :name)
	.clear
	= f.submit "Crunch that hunch!"