!!! 5
%html
	%head
		%title
			Crunchhunch
		%link{ :rel => "shortcut icon", :type => "image/png", :href => "/favicon.png" }
		%meta{ :content => "Guess the author based on the TechCrunch headline", :name => "description" }
		= stylesheet_link_tag :all
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", 'rails', 'application'
		= csrf_meta_tag
	%body
		#container
			= yield
		= render :partial => "application/analytics"